# Database
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=change_me
AIRFLOW_DB_NAME=airflow

# MinIO
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me

# Airflow
AIRFLOW_USERNAME=change_me
AIRFLOW_PASSWORD=change_me
AIRFLOW_SECRET_KEY=change_me

# Optional
AIRFLOW_DATA_DIR=./data